<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4">Welcome to your Tweets!</h1>
    <h1>My Tweets</h1>

    <ul>
    <% @tweets.each do |tweet| %>
        <li>
        <%= link_to tweet.title, tweet %>
        </li>
    <% end %>
    </ul>

    <%= link_to "New Tweet", new_tweet_path %>
</div> 
