<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>Other's Tweets</h1>
    
    <ul>
    <% @tweets.each do |tweet| %>
        <li>
        <%= link_to tweet.title, tweet %>
        </li>
    <% end %>
    </ul>

</div> 
