
<p><%= @tweet.body %></p>

<small> Tweet By: <%= @tweet.user.email %> </small>

<% if session[:user_id] && @tweet.user.email == Current.user.email %>
    <div>
        <%= link_to "Edit", edit_tweet_path(@tweet), class: "btn btn-outline-secondary mb-3" %> 
        <%= button_to "Delete", tweet_path(@tweet), method: :delete, class: "btn btn-outline-secondary" %>      
    </div>
<% end %>

