<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="mt-4"><%= @user.username %>'s profile!</h1>
    <h2> Followers: <%= @user.followers.count %> </h2>
    <%= button_to "Follow", user_path, method: :put, class: "btn btn-outline-secondary" %>
    <ul>
    <% @tweets.each do |tweet| %>
        <li>
        <%= link_to tweet.title, tweet %>
        </li>
    <% end %>
    </ul>

</div> 
